html {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  background-color: #fafafa;
  color: #363636;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}


/* Style the top navigation bar */

.navbar {
  height: 55px;
  background-color: #fafafa;
  top: 0;
  overflow: hidden;
  border-bottom: 1px solid #e6e6e6;
  position: sticky;
  position: -webkit-sticky;
  z-index: 1;
}

.menu-icon {
  float: left;
  margin: 20px;
  color: #363636;
  cursor: pointer;
}

#logo {
  margin-top: -30px;
  margin-bottom: -20px;
  height: 100px;
  width: 110px;
}


/* Style the navigation bar links */

.navbar a {
  float: left;
  display: block;
  text-decoration: none;
}

.navbar .search-container {
  float: left;
  margin-left: 15%;
}

.navbar input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  width: 550px;
  color: #909090;
}

.navbar .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  cursor: pointer;
  color: #909090;
}

.fa-video,
.fa-th,
.fa-comment,
.fa-ellipsis-v,
.signin {
  float: right;
  color: #363636;
  padding: 15px 15px;
  cursor: pointer;
}


/* Column container */

.container {
  display: flex;
  flex-wrap: wrap;
}


/* Create two unequal columns that sits next to each other */


/* Main column */

.main_column {
  flex: 60%;
}

.main {
  padding: 20px;
}

iframe {
  outline-color: #eeeeee;
  width: 100%;
  height: 435px;
  left: 0px;
  top: 0px;
}

.info {
  margin-top: 60px;
  color: #0A0A0A;
  line-height: 1.2rem;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
}

.under {
  margin-bottom: 5px;
}

#views {
  float: left;
  padding: 10px;
  color: #909090;
}

.fa-thumbs-up,
.fa-thumbs-down,
.fa-share,
.fa-plus {
  padding: 5px 10px;
  float: right;
  color: #909090;
  cursor: pointer;
}

#around_pic {
  margin-bottom: 80px;
  margin-top: 20px;
}

#round_pic {
  border-radius: 50%;
  width: 70px;
  height: 65px;
  float: left;
}

#next_to_pic {
  float: left;
  margin-left: 50px;
}

#desc {
  margin-left: 120px;
}

#comment_menu {
  margin-top: 10px;
  margin-bottom: 10px;
}

#count_com {
  float: left;
}

#sort_menu {
  margin-top: 0px;
  margin-left: 40px;
  float: left;
}


/*Comments*/

.comments {
  padding: 10px;
}

.first_comment {
  margin-top: 30px;
  width: 300px;
  overflow: hidden;
}

.profile_pic {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  margin-left: 30px;
  margin-top: 10px;
}

#span_msg {
  border-bottom: 1px solid #909090;
  margin-left: 10px;
  margin-top: 15px;
  float: right;
  cursor: text;
  overflow: hidden;
}

.single_comment {
  margin-top: 30px;
  overflow: hidden;
}

.span_comment {
  margin-top: -50px;
  margin-left: 100px;
  float: right;
}

.under_comment {
  margin-left: 80px;
  margin-bottom: 20px;
}

.under_comment i,
a {
  float: left;
  margin-left: 10px;
  margin-top: 8px;
  cursor: pointer;
  color: #909090;
}


/* Sidebar*/

.side {
  flex: 30%;
  padding-left: 10px;
  font-size: 15px;
}

.side_part,
.side_part1 {
  height: 94px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.side_part1 {
  border-bottom: 1px solid #A9A9A9;
  padding-bottom: 20px;
}

.img {
  height: 94px;
  width: 168px;
  float: left;
}

.text_side {
  overflow: hidden;
  padding-top: 5px;
  padding-left: 10px;
}

.time {
  position: absolute;
  margin-top: 73px;
  margin-left: -43px;
  color: white;
  background-color: black;
}


/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */

@media screen and (max-width: 700px) {
  .container, .navbar {
    flex-direction: column;
  }
  iframe {
    height: 315px;
  }
  .navbar input[type=text] {
    width: 300px;
  }
}